@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');
* {
	margin: 0 auto;	
}
a{
   text-decoration: none;
   color:white;
}
 .day {
        vertical-align: top;
    }
.check{
    width: 45px;
    border: 1px solid #4577E5;
    background-color: white;
    color:#4577E5;
}

#pageBtn{
	margin-left:96px;
}
.ulbtn{
	float:left;
	display: flex;
	list-style: none;
	margin:0;
	padding-right:12px;
}
#hrbtn{
	float:right;
	margin-right:136px;
	list-style: none;
}
#yo{
   text-align: center;
   background-color: #6192fd;
   color: white;
   font-family: 'Noto Sans KR', sans-serif;
}
#tab2 {
   border-collapse: collapse;
    border: 1px solid #EEF0F4;
}
#tab1{
   text-align: center;
   font-family: 'Noto Sans KR', sans-serif;
   background-color:#4577E5;
   color:white;
   clear: both;
}
#checkin, #checkout {
	background-color: #39AEA9;
	color : white;
	outline:none;
	font-family: 'Noto Sans KR', sans-serif;
}