@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap');
* {
	margin: 0 auto;	
}
a:link, a:visited, a:hover, a:active {
	color : #fff;
	text-decoration: none;
}
form{
	margin:0 auto;text-align:center;
}
 .day {
        vertical-align: top;
    }
table.detailtable {
  border-collapse: collapse;
  text-align: left;
  line-height: 1.5;
  border-top: 1px solid #ccc;
  border-left: 3px solid #369;
  margin : 20px 10px;
}
table.detailtable th {
  width: 147px;
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  color: #153d73;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;

}
table.detailtable td {
  width: 349px;
  padding: 10px;
  vertical-align: top;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
#yo{
   text-align: center;
   background-color: #6192fd;
   color: white;
   font-family: 'Noto Sans KR', sans-serif;
}
#tab2 {
   border-collapse: collapse;
    border: 1px solid #EEF0F4;
}
#tab1{
   text-align: center;
   font-family: 'Noto Sans KR', sans-serif;
   background-color:#4577E5;
   color:white;
   clear: both;
}